VITE_APP_ENV=development
VITE_APP_TITLE="HR Box Application"
VITE_APP_VERSION="1.0.0"


VITE_API_BASE_URL="https://10.64.65.2/"
VITE_API_TIMEOUT=30000

VITE_HRLINK_BASE_PATH=/hrlink

VITE_APP_URL="http://localhost:5173"

VITE_DEV_TOOLS=true
VITE_HOT_RELOAD=true

VITE_APP_URL=https://dev.hrbox.com
VITE_API_BASE_URL=https://api-dev.hrbox.com/v1
VITE_PERFORMANCE_MONITORING=true
STORYBOOK_PORT=6006


VITE_ENABLED_MODULES=hrlink,process-maker,chart-maker,basic-info,sso,project-management

VITE_FEATURE_DARK_MODE=true
VITE_RTL_SUPPORT=true


VITE_SSO_API_URL=http://hrlink.hrbox.me
VITE_HRLINK_API_URL=http://hrlink.hrbox.me

VITE_BUILD_TARGET=modern
VITE_USE_CDN=false

VITE_PORT=5173
VITE_HOST=0.0.0.0
VITE_USE_POLLING=false

VITE_API_URL=https://api.hrbox.com
VITE_ENABLE_PWA=false
VITE_ANALYZE_APP=false

