  @import 'tailwindcss';
@import "./colors.css";
@config "./tailwind.config.ts";
@plugin './hero.ts';

@layer theme, base, components, utilities;
@custom-variant dark (&:is(.dark *));

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}
:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html,
body {
  transition: background-color 1s ease,
  color 1s ease;
  min-height: 100vh;
  font-size: 16px;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

html[lang='en'] {
  font-family: 'Open Sans', sans-serif;
}

html[lang='fa'] {
  font-family: Yekan Bakh,
  serif;
}

.react-flow {
  overflow: unset !important;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-control-container {
  z-index: 1000;
}

.min-h-200 {
  min-height: 200px;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-tile {
  filter: inherit;
  visibility: hidden;
}

.leaflet-tile-loaded {
  visibility: inherit;
}
