
.bjs-powered-by {
  display: none !important;
}

/* استایل Toolbar عمودی شبیه bpmn.io */
.bpmn-toolbar-en {
  position: absolute;
  left: 160px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  gap: 4px;
  background-color: whitesmoke;
}

.bpmn-toolbar-fa {
  position: absolute;
  right: 175px;
  bottom: 60px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  gap: 4px;
  background-color: whitesmoke;
  padding: 0 !important;
  margin: 0 !important;
}

.bpmn-toolbar-en .djs-button, .bpmn-toolbar-fa .djs-button {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: transparent;
}

.bpmn-toolbar-en .djs-button:hover, .bpmn-toolbar-fa .djs-button:hover {
  color: cornflowerblue;
}
