# Server Configuration
PORT=3001
HOST=0.0.0.0
NODE_ENV=development

# Target API
TARGET_API=https://front.hrbox.me
# https://hrlink.hrbox.me

# CORS
CORS_ORIGIN=https://front.hrbox.me,http://localhost:5173

# Logging
LOG_LEVEL=info
