@import 'tailwindcss';
@import '../core/assets/fonts/font.css';
@import './colors.css';

@config "./tailwind.config.js";
@plugin './hero.ts';

@custom-variant dark (&:where(.dark));
@custom-variant light (&:where(.light));

@layer base {
  :root {
    --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  }

  body {
    @apply font-sans bg-white text-black dark:bg-black dark:text-white;
  }
}
html,
body {
  transition: background-color 1s ease,
  color 1s ease;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

html[lang='en'] {
  font-family: 'Open Sans', sans-serif;
}

html[lang='fa'] {
  font-family: Yekan Bakh,
  serif;
}
