@import 'tailwindcss';
@import '../core/assets/fonts/font.css';

@config "./tailwind.config.js";
@plugin './hero.ts';
@layer theme, base, components, utilities;
@import "./colors.css" layer(theme);


html,
body {
  transition: background-color 1s ease,
  color 1s ease;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

html[lang='en'] {
  font-family: 'Open Sans', sans-serif;
}

html[lang='fa'] {
  font-family: Yekan Bakh,
  serif;
}
