NODE_ENV=development
PORT=3001
HOST=0.0.0.0

TARGET_API=https://10.64.65.2

CORS_ORIGIN=https://front.hrbox.me,http://front.hrbox.me,http://localhost:5173,https://localhost:5173

LOG_LEVEL=debug

REQUEST_TIMEOUT=30000
PROXY_TIMEOUT=30000
